.c-item {
  height: 525px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}
.dept {
  position: relative;
  top: 100px;
}
.rouge {
  width: 90px;
  height: 40px;
  background-color: red;
  position: relative;
  color: white;
  text-align: center;
}
