html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}
.loopt {
  position: relative;
  left: 300px;
}

.gitp {
  position: relative;
  left: 00px;
  bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }

  .loopt {
    display: block;
  }

  .subHeader {
    padding: 5px;
  }
}
