*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
}
.soc{
    width: 350px;
}
.uide{
    display: block;
    margin-bottom: 15px;
   margin-right: 100%;
}
.bol{
    position: relative;
    top: 40px;
}
a{
    color: black;
    text-decoration: none;
}
.tit{
    font-size: 18px;
    position: relative;
    bottom: 5px;
}
.para{
    position: relative;
    top: 20px;
    font-size: 16px;
}
.car{
    background-color: rgba(0, 0, 255, 0.064);
}
.new{
    height: 30px;
    width: 50px;
    background-color: rgb(236, 10, 10);
}
.tir{
    font-size: 3em;
    color: white;
    position: relative;
    top: 250px;
    left: 50px;
}
.buo{
    width: 120px;
    height: 8px;
    position: relative;
    left: 55px;
    top: 240px;
   background-color: e9041e;
    border: 0px;
}
.tir1{
    font-size: 3em;
    color: black;
    position:relative;
    top: 340px;
    left: 80px;
}
.buo1{
    width: 230px;
    height: 8px;
    position: relative;
    left: 80px;
    top: 350px;
   background-color: e9041e;
    border: 0px;
}
.p{
    position: relative;
    top: 350px;
    color: black; left: 80px;
    font-size: 20px;
}
.tir2{
    position: relative;
    top: 360px;
    left: 40px;
}
.buo2{
    width: 350px;
    height: 8px;
    position: relative;
    left: 60px;
    top: 350px;
   background-color:e9041e;
    border: 0px;
}
.tir3{
    position: relative;
    top: 250px;
    left: 60px;
}
.buo3{
    width: 250px;
    height: 8px;
    position: relative;
    left: 100px;
    top: 250px;
   background-color:e9041e;
    border: 0px;
}
.tir4{
    position: relative;
    top: 250px;
    left: 70px;
}
.buo4{
    width: 330px;
    height: 8px;
    position: relative;
    left: 50px;
    top: 250px;
   background-color:#e9041e ; 
    border: 0px;
}
.buo5{
    width: 330px;
    height: 8px;
    position: relative;
    left: 50px;
    top: 370px;
   background-color:black
}
.buo6{
    width: 350px;
    height: 8px;
    position: relative;
    left: 50px;
    top: 200px;
   background-color:#e9041e ; 
    border: 0px; 
}
.tir6{
    position: relative;
    top: 200px;
    left: 50px;
}
a{
    text-decoration: none;
    color: white
}
.blaq{
    color: black;
    text-decoration: none;
}
.p6{
    position: relative;
    top: 220px;
    font-size: 18px;
    left: 50px;
}
.blaq1{
    text-decoration: none;
    color: #e9041e;
}
button9{
    background-color: black;
}
.tir9{
    position: relative;
    left: 10px;
    top: 250px;
}
 